.nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 8%;
  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(11, 15, 26, 0.6);
  backdrop-filter: blur(10px);

  z-index: 1000;
}

/* Logo */
.logo {
  font-size: 1.2rem;
  font-weight: 500;
}

/* Scoped ul */
.nav ul {
  display: flex;
  gap: 25px;
  list-style: none;
}

/* Scoped li */
.nav li {
  cursor: pointer;
  color: #888;
  text-transform: capitalize;
  transition: all 0.3s ease;
}

/* Hover */
.nav li:hover {
  color: var(--primary);
}

/* Active */
nav .active {
  color: var(--primary);
}

/* =========================
   TABLET (≤1024px)
========================= */
@media (max-width: 1024px) {
  .nav {
    padding: 15px 5%;
  }

  .nav ul {
    gap: 20px;
  }

  .nav li {
    font-size: 0.95rem;
  }

  .logo {
    font-size: 1.1rem;
  }
}


/* =========================
   MOBILE (≤768px)
========================= */
@media (max-width: 768px) {
  .nav {
    padding: 12px 4%;
  }

  .nav ul {
    gap: 15px;
  }

  .nav li {
    font-size: 0.85rem;
  }

  .logo {
    font-size: 1rem;
  }
}


/* =========================
   SMALL MOBILE (≤480px)
========================= */
@media (max-width: 480px) {
  .nav {
    padding: 10px 3%;
  }

  .nav ul {
    gap: 10px;
  }

  .nav li {
    font-size: 0.75rem;
  }

  .logo {
    font-size: 0.9rem;
  }
}